@use './../../assets/styles/global';
//
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.wrapperContainer {
    font-family: 'Ubuntu', serif;
    color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 64px;
    overflow: hidden;
    width: 700px;
    height: 475px;
    box-shadow: 0 0 5px 0.8px #979696;
    margin: 20px;
}
.wrapperMale {
    background-image: url('./../../../public/bg-male.jpg');
}
.wrapperFemale {
    background-image: url('./../../../public/bg-female.jpg');
}

.innerContainer {
    width: inherit;
    height: inherit;
    padding: 35px;
    backdrop-filter: blur(30px);
}

.userContainer {
    @extend %dfRow;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
}

// -------info-----

.infoContainer {
    @extend %dfColumn;

    gap: 18px;

    width: 70%;
    height: inherit;
}

.imgContainer {
    width: 150px;
    height: 150px;
    padding-left: 60px;

    > img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: 2px solid #ffffff;
        box-shadow: 0 0 10px 2px #ffffff80;
    }
}
.name {
    font-size: 32px;
    font-weight: 700;
}
.dob {
    font-size: 20px;
    font-weight: 300;
    padding-left: 10px;
}
.location {
    font-size: 22px;
    font-weight: 300;
    > .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
}

.contact {
    > span {
        font-size: 18px;
        font-weight: 600;
        width: max-content;
        display: block;
        padding: 8px;
        border: 0.5px solid #ffffff10;
        border-radius: 64px;
        background-color: rgba(76, 0, 130, 0.2);
    }
}

// ------actins-----

.actionsContainer {
    @extend %dfColumn;
    gap: 20px;

    width: 30%;
    height: inherit;
    align-items: center;
    justify-content: center;
}
.social {
    @extend %dfColumn;

    align-items: center;
    > .icon {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
}
.btnContainer {
    display: flex;
    gap: 20px;
}
.btn {
    width: 80px;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(76, 0, 130, 0.2);
    border: 2px solid #ffffff;
}
